.banner{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url('../images/developer.png') , url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, right bottom;
}